<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>cellItems</key>
		<array>
			<string>Full Name</string>
			<string>Email</string>
			<string>Phone</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>cellItems</key>
		<array>
			<string>Choose Language</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>cellItems</key>
		<array>
			<string>About</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>cellItems</key>
		<array>
			<string>Contact</string>
		</array>
	</dict>
</array>
</plist>
